<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <h1>Django CSV Uploader</h1>
</div>
  <form  id="example-form1" action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
   
    <input type="file" name="csv" required accept=".csv">
    <input type="text" name="archive_name" id ="archive_name">
    <button type="submit" class="button" value="Submit">button</button>

  </form>
</body>
</html>
