<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header and Footer Example</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body  >
  <div  class="container" >
    <h1>CSV Uploader</h1>
  </div>
  <div class="center">
  <form  id="example-form1" action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
    <input type="file" name="csv" required accept=".csv">
  </div>
  <div>
    <input type="text" name="archive_name" id ="archive_name">
  </div>
  <div>
    <button type="submit" class="button" value="Submit">button</button>
  </div>
  </form>
</div>
  <footer>
    <p>&copy; Ash passive</p>
</footer>
</body>
</html>
